/* static/style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #2c3e50;
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    font-size: 18px;
}

nav {
    text-align: center;
    background-color: #2c3e50;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #f39c12;
}

/* Gaya untuk container */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 30px;
}

/* Gaya untuk landing page */
.landing-page {
    text-align: center;
    margin-bottom: 30px;
}

.landing-page img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.landing-page h1 {
    font-size: 36px;
    color: #e74c3c;
}

.landing-page p {
    font-size: 18px;
    color: #2c3e50;
}