<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>

    <div class="container">
        <h1>Kontak Kami</h1>
        <p>Halo citizen! Jika kamu berminat untuk menjual produk makanan tanpa ribet, kami punya solusinya.</p>
        <p>Kami sudah 10 tahun lebih berpengalaman dibidang produksi makanan dalam skala kecil atau besar.</p>
        <p>Bisa hubungi kami pada nomor berikut <b><i>0888777666</i></b> atau email ke <b><i>funfoods@company</i></b></p>
        
    </div>

</body>
</html>